body {
  margin: 0;
  border: 0;
  font-size: x-large;
  text-align: center;
  color: rgb(124, 86, 35);
  box-sizing: border-box;
  background-color: white;
  p{
    font-family: 'Anton', sans-serif;
    
  }
}
.abp{
  width: 35%;
  padding-top: 5%;
}
//////////// NAV //////////////////////////////////
//////////// NAV //////////////////////////////////
.Nav{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: large;
  padding: 20px 80px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  .Navs{
    color:rgb(124, 86, 35);
    font-size: large;
    font-family: 'Anton', sans-serif;
      
    
  }  
}



//////////// HEADER //////////////////////////////////
//////////// HEADER //////////////////////////////////
.header{
  @import url('https://fonts.google.com/specimen/Federo');
      font-family: 'Federo';
  background-image: url(../src/assets/dash.gif);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0;
  padding: 0;
  height: 100vh;
  text-align: left;
}
.header h2{
  font-size: 3rem;
  font-weight: 100;
  @import url('https://fonts.google.com/specimen/Italiana');
  font-family: 'Anton', sans-serif;
  color:white;
  text-shadow: 3px 3px 3px tan;
  margin-top: 0;
  
}
.header h1{
  margin-left: 1%;
  font-weight: 100;
  color:rgb(124, 86, 35);
  font-family: 'Anton', sans-serif;
  font-weight: 400;
  font-size: 5rem;
    text-shadow: 5px 5px 5px white;
    margin-top: 0;
    padding-top: 9%;
  }
  
  .header2 a{
    text-decoration: none;
    justify-content: center;
    font-size: xx-large;
    color: white;
  }
  .header h2{
    font-size: 3rem;
  }
  .header2{
    padding-bottom: 15%;
    font-size: 3rem;
    background-color: white;
  }
  .header2:hover
  ,button:hover{
    text-shadow: 5% 5% 5% white;
    background-color: white;
    color: goldenrod;
    padding: 5% 5% 5%;  
  }
  //////////// USER //////////////////////////////////
  .red{
    color: red;
    font-size: 6rem;
    box-shadow: 15px 15px 15px red;
    text-shadow: 5px 5px 5px red;
    
  }
  .black{
    color: red;
    font-size: 6rem;
    text-shadow: 3px 3px 3px red;
  }
  .user{
    color:white;
    font-size: x-large;
    margin-left: 1%;
  }
  .sidebar{
    margin-left: 1%;
    color:rgb(124, 86, 35);
  }
  .if{
    background-image: url(../src/assets/i.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  }
  .if h1{
    padding-top: 10%;
    padding-bottom: 15%;
    color:black;
    text-shadow: 5px 5px 5px black;
    
  }
  .image{
    width: 100%;
    height: 100%;
    display: flex;
  padding-top: 0;
}
img{
  width: 100%;
  height: 100%;
}
//////////// LEARN //////////////////////////////////
//////////// LEARN //////////////////////////////////
.learn{

  h1{
  color: tan;
  text-shadow: 3px 3px 3px rgb(124, 86, 35);
  font-size: 4rem;
  padding-top: 2%;
}
p{
  font-family: 'Anton', sans-serif;
  color:rgb(124, 86, 35);
font-size: x-large;
width: 75%;
margin-left: 12%;
}

}
//////////// CONTACT //////////////////////////////////
//////////// CONTACT //////////////////////////////////

.allcont img {
  width: 25%;
  height: 25%;
  padding: 3%;
  
  text-align: center;
}
.allcont img:hover {
  text-align: center;
  width: 25%;
  height: 25%;
  background-color: tan;
  padding: 2% 2% 2%;
}
strong{
  color: rgb(124, 86, 35);
  
}
.allcont{
  width: 100%;
}
.allcont h1{
  font-size: 5rem;
  color: rgb(124, 86, 35);
  text-shadow: 3px 3px 3px tan;
}
.allcont:hover a:hover
{
  background-color: tan;
  padding: 5px 5px 5px;
  border-radius: 25%;
  width: 32%;
  height: 32%;
}

//////////// DASH //////////////////////////////////
//////////// DASH //////////////////////////////////
a{
  margin: 1%;
  font-weight: 100;
  font-size: 2rem;
}
//////////// SUBSCRIBE //////////////////////////////////
//////////// SUBSCRIBE //////////////////////////////////

.subscribe h2 {
  color: rgb(124, 86, 35);
  
}
.subscribe a {
  color: white;
  text-align: center;
  justify-content: center;
}
////////// SECURITY //////////////////////////////////
////////// SECURITY //////////////////////////////////
.corpp h2{
  font-size: x-large;
  color: white;
  justify-content: center;
}
.corpp{
  display: flex;
  text-align: center;
  font-size: x-large;
  width: 90%;
  justify-content: center;
}

.left{
  text-align: left;
  padding-left: 5%;
  width: 40%;
}
.right{
  text-align: right;
  width: 40%;
}

//////////////////////// SideBySideImgs ///////////////////////
.sidebysideimgs{
  display: flex;
width: 100%;
  p{
    font-size: large;
    color: rgb(124, 86, 35);
    margin-left: 1%;
    
  }
  
}
.sidebysidepink{
  display: flex;
  width: 100%;
  height: 100%;
  
  .sidebysideimg{
    width: 50%;
  } 
  h1{
    text-shadow: 2px 2px 2px tan;
    text-align: center;
    padding-top: 1%;
    width: 50%;
    justify-content: center;
    font-size: 3rem;
    color: rgb(124, 86, 35);
    margin-left: 1%;
    margin-right: 2%;
  
  }
  .sidebyside2{
  width: 50%;
}
}

///////////WHY////////////
///////////WHY////////////
.whyus{
  color: rgb(124, 86, 35);
  font-size: 3rem;
  p{
    width: 75%;
    padding-left: 12%;
    font-size: xx-large;
  }
  .imgs{
    height: 25.5rem;
    width: 25.5rem;
    border-radius: 50%;
    padding-left: 2%;
  }
}

///////////PORTFOLIO////////////
///////////PORTFOLIO////////////
    .portfolio{
      font-family: 'Anton', sans-serif;
      h2{
        font-size: x-large;
        font-weight: 100;
      }
      h1{
        font-size: 3rem;
        background-color: tan;
      
      }
    }
    ///////////PORTFOLIO////////////
    ///////////PORTFOLIO////////////
    .portfolio{
      font-family: 'Anton', sans-serif;
      text-align: center;
      h1{
        font-size: 3rem;
      
      }
      h2{
        font-size: x-large;
        font-weight: 100;
      }
      .portfolioimg{
        width: 30%;
        padding-left: 1%;
      }
    }
///////////LINKS////////////
///////////LINKS////////////
.why{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  color: white;
  background-image: url(../src/assets/whybg.png);
  background-position: center;
  background-repeat: no-repeat;
  width: fit-content; 
  p{
    font-size: 2rem;
    color: white;
    width: 50%;
  }
  .link{
    color: white;
  }
}
///////REVIEWS////////
  ///////REVIEWS////////
  .reviews{
    text-align: center;
    h1{
      background-color: rgb(124, 86, 35);
      font-size: 4rem;
      color: tan;
    }
    .btn{
      background-color: rgb(124, 86, 35);
      text-decoration: none;
      color: tan;
      width: 50%;
      font-size: 2rem;
      padding: 2% 2% 2%;
    }
  }
  .review{
    padding-top: 2%;
    img{
    width: 45%;
    height: 45%;
    padding-left: 2%;
    padding-bottom: 1%;
    }
  }
  
////////// BLOGS //////////////////////////////////
////////// BLOGS //////////////////////////////////
.imgm{
  width: 50%;
  height: 50%;
}
p{
  font-weight: 100;
}

//////////////////// HR //////////////////////////////////////////
////////////////// HR //////////////////////////////////////////
.hr1{
  padding-top: 1px;
  padding-right: 1px;
  background-color: tan;
}
//////////////////// SIDE CONTACT //////////////////////////////////////////
////////////////// SIDE CONTACT //////////////////////////////////////////
.sidecontact{
  width: 1%;
  height: 1%;
  background-color: rgb(124, 86, 35);
  justify-content: right;
  text-align: right;
  
  .side{
    justify-content: right;
    background-color: rgb(124, 86, 35);
    text-align: right;

  }
}
//////////////////// CREATE //////////////////////////////////////////
////////////////// CREATE IMG //////////////////////////////////////////

.create{
  display: flex;
  text-align: left;
  width: 75%;
  @import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
  font-family: 'Oswald', sans-serif;
  .creimg{
    width: 35%;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: left;
  }
  .create1{
    h2{
      font-size: 2rem;
      font-size: 2rem;
      color: rgb(124, 86, 35);
      margin-left: 1%;
      
      
    }
    p{
      font-size: x-large;
      color: rgb(124, 86, 35);
      margin-left: 1%;
      
    }
    
  }
  
}

//////////////////// FOOTER //////////////////////////////////////////
//////////////////// FOOTER //////////////////////////////////////////
.footer {
  text-align: center;
  font-size: 2rem;
  padding-top: 25%;
  
}
Link{
  text-decoration: none;
}
.footer img{
  width: 20%;
  height: 20%;
  padding-top: 0;
  
}
.footer {
  text-align: center;
  font-size: 2rem;
  padding-top: 25%;
  
}

//////////MEDIA //////////////////////////////////
//////////MEDIA //////////////////////////////////
//////////MEDIA //////////////////////////////////
//////////MEDIA //////////////////////////////////
//////////MEDIA //////////////////////////////////
//////////MEDIA //////////////////////////////////
//////////MEDIA //////////////////////////////////
//////////MEDIA //////////////////////////////////
//////////MEDIA //////////////////////////////////
//////////MEDIA //////////////////////////////////
//////////MEDIA //////////////////////////////////
@media screen and (max-width: 768px) {
//////////// NAV //////////////////////////////////
//////////// NAV //////////////////////////////////
.Nav{
  display: block;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  .Navs{
    color:rgb(124, 86, 35);
    font-size: large;
    font-family: 'Anton', sans-serif;
  }  
}
///////REVIEWS////////
  ///////REVIEWS////////
  .reviews{
    background-color: rgb(124, 86, 35);
    text-align: center;
    h1{
      font-size: 3rem;
      color: white;
    }
  }
  .review{
    img{
    width: 100%;
    height: 100%;
    padding-left: 0;
    padding-bottom: 1%;
    }
  }
  //////////// LEARN //////////////////////////////////
//////////// LEARN //////////////////////////////////
.learn{

  h1{
  color: rgb(124, 86, 35);
  text-shadow: 0px 0px 0px rgb(124, 86, 35);
  font-size: 2rem;
  padding-top: 2%;
}
p{
  font-family: 'Anton', sans-serif;
  color:rgb(124, 86, 35);
font-size: x-large;
width: 75%;
margin-left: 12%;
}
}

///////////WHY////////////
///////////WHY////////////
.whyus{
  color: rgb(124, 86, 35);
h1{
  font-size: 3rem;
} 
 p{
    width: 75%;
    padding-left: 12%;
    font-size: x-large;
  }
}

///////////////BLOGS ////////////////////////
  ///////////////BLOGS ////////////////////////
  .blogpage{
    text-align: center;
        .bloghead{
          width: 100%;
          text-align: center;
        }
        .post{
          width: 100%;
        }
      }
    .use{
      width: 25%;
    }
      .blogp{
        text-align: left;
        font-size: x-large;
      }
      img{
        width: 100%;
      }
      .flex{
        display: block;
      }
      ///////////PORTFOLIO////////////
///////////PORTFOLIO////////////
    .portfolio{
      font-family: 'Anton', sans-serif;
      h2{
        font-size: x-large;
        font-weight: 100;
      }
      h1{
        font-size: 3rem;
        background-color: tan;
      
      }
    }
    ///////////PORTFOLIO////////////
    ///////////PORTFOLIO////////////
    .portfolio{
      font-family: 'Anton', sans-serif;
      text-align: center;
      h1{
        font-size: 2rem;
      
      }
      h2{
        font-size: x-large;
        font-weight: 100;
      }
      .portfolioimg{
        width: 100%;
        padding-left: 0;
      }
    }

      ///////////////BLOGS ////////////////////////
    ///////////////BLOGS ////////////////////////
    .post{
      width: 35%;
    }
    .blogs{
    text-align: center;
    h1{
      font-size: 3rem;
      color: rgb(124, 86, 35);
    }
    h2{
      font-size: x-large;
text-decoration: none;
    }
    p{
      font-size: 2rem;
      color: rgb(124, 86, 35);
      width: 75%;
      padding-left: 12%;
    }
    img{
      width: 100%;
      height: 100%;
    }
  }
///////////LINKS////////////
///////////LINKS////////////
.why{
  width: 100%;
  display: block;
  justify-content: none;
  align-items: center;
  padding: 0;
      color: rgb(124, 86, 35);
  background-color: black;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  h1{
    font-size: 2rem;
  }  
  h2{
    font-size: xx-large;
  }  
  p{
    font-size: xx-large;
    width: 95%;
  }
}


  //////////////////// HR //////////////////////////////////////////
  ////////////////// HR //////////////////////////////////////////
  .hr1{
    padding-top: 0px;
    padding-right: 0px;
    background-color: tan;
  }
  

//////////// HEADER //////////////////////////////////

.main{
  width: 100%;
  height: 100%;
  display: block;
  flex-direction: column;
}
.overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000000cc;
}
  
  .header2{
    padding-bottom: 15%;
    padding-top: 5%;
    font-size: 3rem;
    background-color: white;
  }
  .header2:hover
  ,button:hover{
    text-shadow: 5% 5% 5% white;
    background-color: white;
    color: goldenrod;
    padding: 5% 5% 5%;  
  }




}



